body{
    margin: 0;
}

.japan{
background-color: red;
width: 500px;
height: 500px;
border-radius: 20em;

}
.bloque_top{
    width: 100%;
    height: 220px;
    background-color: seagreen;
    visibility: hidden;
}

.bloque_left{
    width: 35%;
    height: 400px;
    background-color: slateblue;
    visibility: hidden;
}


.display{
    display: inline-block;
}